<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
  </head>
  <body>
  <header class="p-3 text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
          </a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 text-white">Brands</a></li>
            <li><a href="/filter" class="nav-link px-2 text-white">Filter</a></li>
          </ul>

          <form method="post" action="/search" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" name="search_form">
            <input type="search" name="search" class="form-control form-control-dark text-bg-dark" placeholder="Search by brand or model" aria-label="Search">
          </form>

        </div>
      </div>
    </header>

  <div class="container py-4">
	  {% block content %}
	  {% endblock %}
  </div>

    <script src="/static/js/bootstrap.bundle.js"></script>
  </body>
</html>