{% extends "base.html" %}

{% block content %}
	<div class="container text-center">
		<h1 class="h2">Filters</h1>
		<div class="row">
			<div class="col p-4">
				<form method="post" name="yearRangeForm">
					<label for="yearRangeSlider" class="form-label">Year is lower or equal a value</label>
					<p id="rangeValue"></p>
					<input type=hidden name="filterType" value="slider">
					<input type="range" class="form-range" min="{{ year[0]["min_val"] }}" max="{{ year[0]["max_val"] }}"
					       name="yearRangeSlider" id="yearRangeSlider" onchange="updateRangeValue(this.value)">
					<button type="submit" class="btn btn-primary mt-3">Submit</button>
				</form>
			</div>
			<div class="col p-4">
				<form method="post" name="yearBetweenForm">
					<p>Year is between two values</p>
					<input type=hidden name="filterType" value="range">
					<input type="text" name="yearStart" id="yearStart" value="{{ year[0]["min_val"] }}">
					<input type="text" name="yearEnd" id="yearEnd" value="{{ year[0]["max_val"] }}">
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
		<div class="row">
			{% for value in filtered_data %}
				<div class="col p-4">
		      <div>
			      <a href="/{{ value._id }}"><img src="{{ value.image }}" width="150" alt="image"></a>
			    </div>
				  <div>Brand: {{ value.brand }}</div>
			    <div>Model: <a href="/{{ value._id }}">{{ value.model }}</a></div>
					<div>Year: {{ value.year }}</div>
		    </div>
			{% endfor %}
		</div>
	</div>

	<script>
      function updateRangeValue(val) {
          document.getElementById('rangeValue').innerText = val;
      }

      document.addEventListener('DOMContentLoaded', function () {
          document.getElementById('rangeValue').innerHTML = document.getElementById('yearRangeSlider').value;
      });
	</script>
{% endblock %}