{% extends "base.html" %}

{% block content %}
	<h1>All from {{ context.brand }} in reversed order</h1>
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Image</th>
				<th>Model</th>
				<th>Assigned to</th>
				<th>Delete</th>
				<th>Assign to</th>
			</tr>
			{% for value in context.models %}
				<tr>
					<td><img src="{{ value["image"] }}" width="50" alt="image"></td>
					<td><a href="/{{ value["_id"] }}">{{ value["model"] }}</a></td>
					<td>
						{% if value["factory"] %}
							{{ value["factory"]["name"] }}
						{% endif %}
					</td>
					<td>
						<form method="POST" action="">
							<input type="hidden" name="delete" value="{{ value["_id"] }}">
							<input type="submit" value="Delete" class="btn btn-primary btn-sm">
						</form>
					</td>
					<td>
						<form method="POST" action="">
							<select name="factory_id">
								{% for factory in context.factories %}
									<option value="{{ factory["_id"] }}">{{ factory["name"] }}</option>
								{% endfor %}
							</select>
							<input type="hidden" name="phone_id" value="{{ value["_id"] }}">
							<input type="submit" value="Submit" class="btn btn-primary btn-sm">
						</form>
					</td>
				</tr>
		  {% endfor %}
      <tr>
		</tbody>
	</table>
	<p>Total found: {{ context.cnt }}</p>
{% endblock %}
